#zoom_controls {background-color:#f9f9f9;border:solid 1px #ddd;padding:10px;height:1em;}
#zoom_controls span {}
#zoom_slider {float:left;width:80%;}
.slider_left_label {float:left; margin-right:10px;}
.slider_right_label {float:left; margin-left:10px;}
